{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "promise",
    "node",
    "import",
    "prettier",
    "security",
    "optimize-regex",
    "no-loops"
  ],
  "rules": {
    "optimize-regex/optimize-regex": "warn",
    "@typescript-eslint/interface-name-prefix": 2,
    "@typescript-eslint/explicit-member-accessibility": 1,
    "no-loops/no-loops": "warn",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "max-len": ["error", {
      "code": 100,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true
    }],
    "eslint-comments/disable-enable-pair": ["error", {
      "allowWholeFile": true
    }]
  }
}
